li {
	padding: 2px;
	list-style-type: disc;
}

li ul li {
	list-style-type: circle;
}

a {
	text-decoration: none;
	/*color: #267f00;*/
	transition: 0.5s;
}

a:hover {
	cursor: pointer;
	color: blue;
}