body {
	text-align: left;
}

code {
	background-color: #323232;
	color: white;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	border-radius: 10px;
}

h1 {
	margin-left: 2%;
}

#alltext {
	margin-left: 4%;
}

.bottomhalf {
	margin-left: 20%;
	margin-right: 20%;
	border: 3px solid #323232;
	border-radius: 20px;
	background-color: #ffeedd;
	padding-bottom: 1%;
}