#description {
	text-align: center;
	font-size: 50px;
	color: #267f00;
	margin-top: 1%;
}

#long-descr {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
}

.categories {
	width: 100%;
	margin-top: 5%;
	background-color: #c8c8c8;
	padding-top: 5%;
	padding-bottom: 5%;
}

td {
	text-align: center;
	border-right: 3px solid #ffffff;
	width: 30%;
}

h1 {
	color: #ffffff;
}

.navigation {
	width: 70%;
	background-color: #267f00;
	border: 1px solid #267f00;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	height: 30px;
	transition: width 0.5s;
	margin-top: 5%;
	margin-left: auto;
	float: center;
}

.navigation:hover {
	width: 65%;
}

#resources {
	text-align: left;
	font-size: 60px;
	margin-top: 2%;
	color: #267f00;
	margin-left: 3%;
}

#table2 {
    margin-top: 2%;
    background-color: white;
    /*border: 1px solid black;*/
}

#table2 td {
    border-right: none;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

#last {
	border-right: none;
}

.resource-descr {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 8%;
}

h2 {
	font-size: 40px;
	font-weight: lighter;
	display: inline-block;
	float: right;
}

.icon-img {
	width: 10%;
	height: 10%;
	display: inline-block;
	float: center;
	vertical-align: middle;
	padding-left: 5%;
}

.icontext {
	display: inline-block;
	font-size: 40px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	top: 0px;
}

#mail {
	/*padding-left: 20%;*/
	margin-right: none;
}

#cabinet {
	width: 20%;
	height: 20%;
}