#description {
	text-align: center;
	font-size: 50px;
	color: #ffa500;
	margin-top: 1%;
}

#long-descr {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
}

.categories {
	width: 100%;
	margin-top: 5%;
	background-color: #c8c8c8;
	padding-top: 5%;
	padding-bottom: 5%;
}

td {
	text-align: center;
	border-right: 3px solid #ffa500;
	width: 30%;
}

h1 {
	color: #ffffff;
}

.navigation {
	width: 65%;
	background-color: #ffa500;
	border: 1px solid #ffa500;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	transition: background-color 0.5s, color 0.5s;
	margin-top: 5%;
}

.navigation:hover {
	background-color: white;
	color: #ffa500;
}

#resources {
	text-align: left;
	font-size: 60px;
	margin-top: 2%;
	color: #ffa500;
	margin-left: 3%;
}

#table2 {
    margin-top: 2%;
    background-color: white;
    border: 1px solid black;
}

#table2 td {
    border-right: none;
}

#last {
	border-right: none;
}

.resource-descr {
	margin-left: 10%;
	margin-right: 10%;
}

h2 {
	font-size: 40px;
	font-weight: lighter;
}