#notes {
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
	max-width: 100%;
	max-height: 100%;
	border: none;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

#notes::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
#notes::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,165,0,1); 
}
#notes::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,165,0,1); 
}