#notes {
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
	height: 100%;
	border: none;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}
#notes::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	height: 0px;
    background: transparent;
}